# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Correo\TU\4. SEMESTRE\2020\Programacion II\Proyecto 2\Proyecto AutoPartesSA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
